<div class="side_element">
<div id="fb-root"></div>
</div>
<fb:like-box href="http://www.facebook.com/Resala.org" width="292" show_faces="true" border_color="" stream="true" header="true"></fb:like-box>