<div class="side_element ads">
  <%= link_to image_tag("graphics_ar/volunteer_banner.png") , activities_path %>
</div>
<div class="side_element ads">
  <%= link_to image_tag("graphics_ar/donate.png") , page_path('how_to_donate') %>
</div>
<div class="side_element ads">
  <%= image_tag("dummy/ad.png")%>
</div>
