<% @title = t('page_titles.about')%>
<% @title_class = 'about_title' ;@section_title = @title %>
<% content_for :custom_section_header_content do %>
تعرف على جمعية رسالة
<% end %>
<div class="static_page">
  <article class="article">
    <p>جمعية رسالة للأعمال الخيرية هي جمعية خيرية تقوم بالكثير من الأنشطة في مصر، تأسست عام 1999 كحركة طلابية في كلية الهندسة جامعة القاهرة ثم أشهرت كجمعية خيرية في 29/5/2000 ولها العديد من الفروع التي تنتشر على مستوى الجمهورية والمتمثلة في أكثر من 60 فرعاً.</p>
  </article>
  <article class="article">
      <h3>عام1999</h3>
      <p>بدأت رسالة كحركة طلابية في كلية الهندسة جامعة القاهرة وذلك رغبة من الطلاب في محاولة تطوير مجتمعهم و التوجه نحو الايجابية، كانت الأنشطة تتراوح بين التبرع باالدم وخدمات الكلية و زيارات دور الايتام و المسنين و المستشفيات.</p>
      <h3>عام 2000</h3>
      <p>كانت النقلة الأولى لرسالة عندما تبرع شخص بقطعة أرض في منطقة فيصل و استطاع الشباب المتطوع توفير التمويل اللازم بمجهوداتهم الشخصية وتم إشهار الجمعية برقم 444 وتم إنشاء اول فرع من فروع رسالة (رسالة فيصل).</p>
      <h3>عام 2003</h3>
      <p>بدأت جمعية رسالة في افتتاح فروع أخرى ( المهندسين - المعادي - مصر الجديدة - 6أكتوبر- مدينة نصر - حلوان - المقطم - الإسكندرية - الزقازيق - المنوفية - .... إلخ )  
      ويمارس من خلال هذه الأفرع ما لا يقل عن 24 نشاطاً خيرياً يعمل به آلاف المتطوعين من الشباب والفتيات والأطفال والكبار</p>
      <h3>عام 2006</h3>
      <p>تم افتتاح المرحلة الاولى من مستشفى رسالة الخيري وتشمل اقساما عديدة مثل ( باطنة - نساء و توليد - جراحة - رمد - أنف و أذن - أسنان - جلدية - أطفال - عظام - مسالك بولية - مخ و أعصاب - نفسية و عصبية - سمعيات و تخاطب - تغذية و علاج طبيعى - طوارئ 24 ساعة )</p>
      <h3>عام 2011</h3>
      <p>تم افتتاح المرحلة الثانية لتشمل  غرف العمليات و غرف الإقامة 
      مجهز بأحدث أجهزة العمليات و أقوى أنظمة لمكافحة العدوى  و أفضل عناية للمرضى بعد العمليات
      غرف إقامة فندقية  
      لمعرفة المزيد عن مستشفى رسالة اضغط <a href="http://resala.org/activity_categories/23">هنا</a></p>
      <h3>عام 2011</h3> 
      <p> تم افتتاح مدرسة رسالة الخيرية بشكل جزئي لتشمل المراحل رياض أطفال وأولى ابتدائى فقط
      على أن يتم افتتاحها تدريجيا لجميع المراحل الدراسية 
      لمعرفة المزيد عن مدرسة رسالة اضغط <a href="http://resala.org/activity_categories/24">هنا</a></p>  
  </article>
</div>
 



