<% @title = t('page_titles.history')%>
<% @title_class = 'history_title' ;@section_title = @title %>
<% content_for :custom_section_header_content do %>
تعرف على تاريخ جمعية رسالة
<% end %>

<div class="static_page">
  <article class="article">
    <h2 class="page_title">الانطلاقة 1999</h2>
    <p>انطلقت فكرة جمعية رسالة عن طريق محاضرات أطلقها الأستاذ الدكتور شريف عبد العظيم أستاذ كلية الهندسة بجامعة القاهرة عن أخلاقيات المهنة (بالإنجليزية: Engineering Ethics‏) فتحمس مجموعة من طلبة الفرقة الثانية بقسم هندسة الإلكترونيات والاتصالات الكهربية عام 1999 وأرادوا تقديم عمل مشرف لمجتمعهم وكونوا أسرة كبيرة تعمل في الصيف باسم أسرة "رسالة" وقسمت نفسها لثلاثة مجموعات الأولى هي للعمل الخارجي مثل زيارة دور الأيتام والمسنين ومستشفى أبو الريش ومستشفى 57357 لعلاج سرطان الأطفال. الثانية للعمل الداخلي والدعاية للجمعية عن طريق إصدار جريدة أو نشر دعوة بين الأصدقاء والثالثة للدورات التعليمية بأجور رمزية. وبالرغم من صغر سن الدكتور شريف في ذلك الوقت (35 عاماً) إلا أنه استطاع استغلال طاقات شباب الهندسة.</p>
  </article>
  <article class="article">
    <h2 class="page_title">جمعية خيرية 2000</h2>
    <p>في فبراير 2000م، اقترحت عضوة بالأسرة تأسيس دار للأيتام لما يواجهونه من إهمال ولكن كانت الموارد منعدمة إذ أنهم ما زالوا طلاب ولكن تطوع قريب لإحدى عضوات الأسرة بمبنى من خمس طوابق لهم في حي الملك فيصل وبالفعل بدأ تجهيزه وتم تقسيمه إلى دار أيتام ومسجد ومركز كمبيوتر ولكن أعضاء الأسرة رؤوا ضرورة إشهاره في وزارة التضامن الإجتماعي فأصبحت رسالة جمعية أهلية خيرية مشهرة برقم 444 في يناير 2001م وافتتح أول فرع لها بحي الملك فيصل.</p>
  </article>
  <article class="article">
    <h2 class="page_title">التوسع 2001 - الآن</h2>
    <p>كان ثاني فرع لجمعية رسالة هو فرع حي المهندسين بالجيزة في 9 يوليو 2003 عندما تبرع أحد رجال الأعمال بمبنى في المهندسين من خمس طوابق ويقوم هذا المتبرع بسداد قيمته الإيجارية التي قدرت بـ 17 ألف جنيه شهرياً وقتها وذلك حرصاً منه على تكرار النموذج، ثم بفضل الله وحماسة شباب رسالة افتتح فرع الإسكندرية عام 2004 وتبعته عشرات الفروع الأخرى في مختلف أنحاء الجمهورية وقد وصل عدد متطوعي وأعضاء الجمعية إلى 100 ألف متطوع في نهاية عام 2008.</p>
  </article>
</div>