<p style="color:#000;font-size:normal;font-size:1.1em;padding:0;margin:0 0 10px;">المشرفون فى موقع جمعية رسالة،</p>
<p style="color:#222;padding:0;margin:5px 0;">قام <%= link_to @volunteer.name, "#{SITE_URL}/admin/volunteers/#{@volunteer.id}" %> بطلب إذن لتنظيم أعمال تطوعية جديدة</p>
<p style="color:#222;padding:0;margin:5px 0;">يمكنكم الاطلاع على بيانات المتطوع و رفض أو قبول الطلب من <%= link_to "هنا", "#{SITE_URL}/admin/volunteers/#{@volunteer.id}" %></p>
<div style="color:#999;padding-top:15px;" align="left" >
  <p style="margin:5px 0;color:#777;">شكراً لكم ،</p>
  <p style="margin:5px 0;color:#777;">فريق رساله</p>
  <p style="margin:5px 0;"><a href="<%= SITE_URL %>" style="outline: none;color: #2F72A9;text-decoration: none;">www.resala.org</a></p>
</div>