<p style="color:#000;font-size:normal;font-size:1.1em;padding:0;margin:0 0 10px;">عزيزى المتطوع فى جمعية رسالة ،</p>
<p style="color:#222;padding:0;margin:5px 0;">نود إعلامكم ببدأ العمل الخيرى التالى: <%= link_to @activity.title, @url %> والذى قد ترغب بالاشتراك به لارتباطه بالنشاط الخيرى المفضل لديك أو فرع رسالة الأقرب إليك</p>
<p style="color:#222;padding:0;margin:5px 0;">يمكنك الاشتراك عبر <%= link_to "صفحة العمل الخيرى", @url %></p>
<div style="color:#999;padding-top:15px;" align="left" >
  <p style="margin:5px 0;color:#777;">شكراً لكم ،</p>
  <p style="margin:5px 0;color:#777;">فريق رساله</p>
  <p style="margin:5px 0;"><a href="<%= SITE_URL %>" style="outline: none;color: #2F72A9;text-decoration: none;">www.resala.org</a></p>
</div>