<p style="color:#000;font-size:normal;font-size:1.1em;padding:0;margin:0 0 10px;">عزيزي المتطوع <%= @volunteer.name %> ،</p>
<p style="color:#222;padding:0;margin:5px 0;">تمت إضافتك إلى متطوعى العمل الخيرى : <%= link_to @activity.title,  "#{SITE_URL}/activities/#{@activity.id}" %> بنجاح. </p>

<p style="color:#222;padding:0;margin:5px 0;">يمكنك التواصل معنا عبر البريد الإلكترونى التالى </p>
<p style="margin:5px 0;"><a target="_blank" style="outline: none;line-height:1.6em;color:#307CBE;text-decoration: none; padding:0;" href="mail:info@resala.org">info@resala.org</a></p>

<div style="color:#999;padding-top:15px;" align="left" >
  <p style="margin:5px 0;color:#777;">شكراً لكم ،</p>
  <p style="margin:5px 0;color:#777;">فريق رساله</p>
  <p style="margin:5px 0;"><a href="<%= SITE_URL %>" style="outline: none;color: #2F72A9;text-decoration: none;">www.resala.org</a></p>
</div>
