<fieldset>	
	<div class="section_intro">
		<a class="hide_btn">إخفاء</a>										
		<p>يرجى إدخال سبب للرفض أو قبول طلب انضمام.</p>
	</div>				
	<div class="form_item">
		<label for="email">السبب</label>
		<textarea cols="40" rows="8" name="Name"></textarea>
		<span class="mandatory">*</span>
	</div>						       						        
	<!-- <input type="submit" value="submit" class="btn"> -->
	<p class="form-buttons">
		<a href="#">الغاء</a>
		<input type="button" class="input_button button-send" value="أرسل">
	</p>
</fieldset>
